# Questo File Esclude i file presenti nella seguente lista
# dalle operazioni di containerizzazione.
# Se necessario aggiungere altri file, semplicemente aggiungerne il nome
# (con estensione INCLUSA) nella lista seguente:

.git
.gitignore
docker-compose.yml
Dockerfile
.dockerignore
README.md
ISTRUZIONI.txt
Presentazione Laboratorio FullStack_Gruppo_01